In [1]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('zoo.csv' , delimiter = ',')

In [8]:
data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1
10,cheetah,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
11,chicken,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
12,chub,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
13,clam,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7
14,crab,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,7
15,crayfish,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0,7
16,crow,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0,2
17,deer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
18,dogfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
19,dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
20,dove,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
21,duck,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,0,2
22,elephant,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
23,flamingo,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1,2
24,flea,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
25,frog,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0,5
26,frog,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0,5
27,fruitbat,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
28,giraffe,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
29,girl,1,0,0,1,0,0,1,1,1,1,0,0,2,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,2
72,scorpion,0,0,0,0,0,0,1,0,0,1,1,0,8,1,0,0,7
73,seahorse,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
74,seal,1,0,0,1,0,1,1,1,1,1,0,1,0,0,0,1,1
75,sealion,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1,1
76,seasnake,0,0,0,0,0,1,1,1,1,0,1,0,0,1,0,0,3
77,seawasp,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,7
78,skimmer,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
79,skua,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
80,slowworm,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,0,3
81,slug,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
82,sole,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
83,sparrow,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
84,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,1
85,starfish,0,0,1,0,0,1,1,0,0,0,0,0,5,0,0,0,7
86,stingray,0,0,1,0,0,1,1,1,1,0,1,1,0,1,0,1,4
87,swan,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,1,2
88,termite,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
89,toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
90,tortoise,0,0,1,0,0,0,0,0,1,1,0,0,4,1,0,1,3
91,tuatara,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
92,tuna,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
93,vampire,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
94,vole,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
95,vulture,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,1,2
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [9]:
data.shape

(101, 18)

In [10]:
data.ndim

2

In [11]:
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [12]:
data.tail()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [14]:
data[['hair' , 'eggs']]

     hair  eggs
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
5       1     0
6       1     0
7       0     1
8       0     1
9       1     0
10      1     0
11      0     1
12      0     1
13      0     1
14      0     1
15      0     1
16      0     1
17      1     0
18      0     1
19      0     0
20      0     1
21      0     1
22      1     0
23      0     1
24      0     1
25      0     1
26      0     1
27      1     0
28      1     0
29      1     0
..    ...   ...
71      0     1
72      0     0
73      0     1
74      1     0
75      1     0
76      0     0
77      0     1
78      0     1
79      0     1
80      0     1
81      0     1
82      0     1
83      0     1
84      1     0
85      0     1
86      0     1
87      0     1
88      0     1
89      0     1
90      0     1
91      0     1
92      0     1
93      1     0
94      1     0
95      0     1
96      1     0
97      1     1
98      1     0
99      0     1
100     0     1

[101 rows x 2 columns]

In [15]:
data.sample(10)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
39,honeybee,1,0,1,0,1,0,0,0,0,1,1,0,6,0,1,0,6
88,termite,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
71,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,2
70,reindeer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
24,flea,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
12,chub,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
81,slug,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
33,gull,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
59,pheasant,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1

In [16]:
data.hair

0      1
1      1
2      0
3      1
4      1
5      1
6      1
7      0
8      0
9      1
10     1
11     0
12     0
13     0
14     0
15     0
16     0
17     1
18     0
19     0
20     0
21     0
22     1
23     0
24     0
25     0
26     0
27     1
28     1
29     1
      ..
71     0
72     0
73     0
74     1
75     1
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     0
84     1
85     0
86     0
87     0
88     0
89     0
90     0
91     0
92     0
93     1
94     1
95     0
96     1
97     1
98     1
99     0
100    0
Name: hair, Length: 101, dtype: int64

In [ ]:
data